.crpTools {
    width: 40px;
    height: 40px;
}

#moveForward {
    background-color: violet;
}

#moveBackward {
    background-color: aquamarine;
}

#soundBooster {
    background-color: rgb(255, 37, 37);
}
