.crpTools {
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;

    img {
        width: 100%;
    }

    &:hover{
        background-color: rgba(0, 0, 0, 0.6);
    }
}

.crpKnob {
    background-color: rgb(244, 117, 33);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 4px;
    transform: scale(1);
    visibility: visible;
    height: 16px;
    width: 16px;
}

#crpWatchedTime {
    align-self: flex-start;
    background-color: rgb(244, 117, 33);
    visibility: visible;
    height: 100%;
    width: 100%;
}

.crpSkipper {
    position: absolute;
    right: 15px;
    bottom: 100px;
    padding: 10px 20px;
    background-color: #00000088;
    border: 1px solid #ffffff66;
    text-align: center;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

    cursor: pointer;

    visibility: "collapse"; // Not displayed
    opacity: 0; // until an opening
    transition: opacity 0.3s ease; // is reached

    p {
        float: left;
        margin: 0;

        color: whitesmoke;
        font-family: "Lato", Helvetica Neue, helvetica, sans-serif;

        &.crpSkipperText {
            font-weight: 600;
            font-size: 15px;
            margin-right: 8px;
        }
        &.crpSkipperTimer {
            font-weight: 500;
            font-size: 9px;
        }
    }
}

.crpSubMenu:hover {
    background-color: rgb(35, 37, 43);
}
