body {
  color: whitesmoke;
  font-family: "Lato", Helvetica Neue, helvetica, sans-serif;

  background-color: #050505;
  height: 500px;
  width: 300px;
  position: relative;
  margin: 0;
}

.crp_text {
  font-weight: 500;
  line-height: var(--line-height);
  font-size: 16px;
}

.crp_h1 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

/*.wrapper {
  // Prevent user from selecting text
  -moz-user-select: none; // Firefox
  -webkit-user-select: none; // Chrome, Safari, Opera from version 15
  -ms-user-select: none; // Internet Explorer from version 10 and Edge
  user-select: none; // Standard property

  margin: 5% 0;
}*/

header{
  text-align: center;
  background-color: #23252b;
  border-bottom: 1px solid #141519;
  > * {
    margin: 1%;
  }
}

footer {
  background-color: #23252b;
  border-top: 1px solid #141519;
  position:absolute;
  bottom:0;
  width: 100%;
}
#footer-text {
  padding: 3%;
  height: fit-content;
  display: flex;
  justify-content: space-between;

  > * {
    color: #8a8a8a;
    text-decoration: none;
    font-size: 11px;
    margin: 0;
  }
}

#github-link:hover {
  color: #a0a0a0;
}

.icon {
  width: 15%;
}

.logo {
  width: 75%;
}
